@model IssueManager.Models.ViewModels.Requests.CreateRequestViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="app-container">
                <div class="app-header">
                    <h2 class="mb-0 fs-3">Create New Request</h2>
                    <p class="mb-0 opacity-75">Fill in the details below to submit a new request</p>
                </div>

                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger rounded-3" role="alert"></div>

                    <div class="row g-4">
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="Title" class="form-control app-form-control" placeholder="Enter title" />
                                <label asp-for="Title"></label>
                                <span asp-validation-for="Title" class="validation-message"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating">
                                <textarea asp-for="Description" class="form-control app-form-control"
                                          style="height: 200px" placeholder="Enter description"></textarea>
                                <label asp-for="Description"></label>
                                <span asp-validation-for="Description" class="validation-message"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="Priority" class="form-select app-form-control"
                                        asp-items="@Html.GetEnumSelectList(typeof(RequestPriority))">
                                </select>
                                <label asp-for="Priority"></label>
                                <span asp-validation-for="Priority" class="validation-message"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="CategoryId" class="form-select app-form-control"
                                        asp-items="ViewBag.CategorySelectOptions">
                                    <option value="">-- Select --</option>
                                </select>
                                <label asp-for="CategoryId"></label>
                                <span asp-validation-for="CategoryId" class="validation-message"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="AssignedUserId" class="form-select app-form-control" id="assignedUserSelect"
                                        asp-items="ViewBag.UserSelectOptions">
                                    <option value="">-- Select --</option>
                                </select>
                                <label asp-for="AssignedUserId"></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="AssignedTeamId" class="form-select app-form-control" id="assignedTeamSelect"
                                        asp-items="ViewBag.TeamSelectOptions">
                                    <option value="">-- Select --</option>
                                </select>
                                <label asp-for="AssignedTeamId"></label>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="files" class="details-label form-label">Attachments</label>

                            <div class="app-file-upload">
                                <input type="file" id="files" name="Files" multiple class="app-file-input" />
                                <label for="files" class="app-file-label">
                                    <span id="file-label-text">Click to upload files</span>
                                </label>
                            </div>

                            <ul id="file-list" class="app-file-list"></ul>

                            <span asp-validation-for="Files" class="validation-message text-danger"></span>
                        </div>

                        <div class="col-12 mt-4">
                            <hr class="my-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <a asp-action="Index" class="back-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                    </svg>
                                    Back to List
                                </a>
                                <button type="submit" class="app-btn app-btn-create">Create Request</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script id="usersByTeamData" type="application/json">
            @Html.Raw(Json.Serialize(ViewBag.UsersByTeam))
        </script>

        <script src="~/js/filterUsersByGroup.js"></script>
        <script src="~/js/fileUpload.js"></script>
    }
}