@page
@model IssueManager.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="app-container">

                <partial name="_StatusMessage" for="StatusMessage" />

                <div class="app-header">
                    <h2 class="mb-0 fs-3">Profile information</h2>
                    <p class="mb-0 opacity-75">View information about user's account</p>
                </div>

                <div class="row g-4">
                    <div class="col-md-12">
                        <div class="d-flex flex-column">
                            <label class="details-label">Full Name</label>
                            <span class="details-data">
                                @Model.FullName
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="d-flex flex-column">
                            <label class="details-label">E-mail</label>
                            <span class="details-data">
                                @Model.Email
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="d-flex flex-column">
                            <label class="details-label">Assigned team</label>
                            <span class="details-data">
                                @Model.AssignedTeam
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
