@model IEnumerable<IssueManager.Models.ViewModels.Requests.RequestResponseViewModel>

<div class="responses">
    <label class="details-label pt-1 pb-2">Responses</label>
    @if (Model.Any())
    {
        @foreach (var response in Model)
        {
            <div class="response-card">
                <div class="response-header">
                    <div class="response-author">@response.AuthorName</div>
                    <div class="response-time">@response.CreateDate.ToString("g")</div>
                </div>
                <div class="response-content">
                    @response.ResponseText
                </div>
            </div>
        }
    }
    else
    {
        <p style="padding-left: 8px">No resposnes yet</p>
    }
</div>  