@import url('./base/containers.css');
@import url('./components/buttons.css');
@import url('./components/forms.css');
@import url('./components/tables.css');
@import url('./layout/footer.css');
@import url('./layout/navbar.css');

:root {
    --app-main-color: #1E293B;
    --app-secondary-color: #334155;
    --app-background-color: #F1F5F9;
    --navbar-font-color: #F8FAFC;
    --create-button-color: #10B981;
    --edit-button-color: #3B82F6;
    --delete-button-color: #EF4444;
    --cancel-button-color: #d9d6d6;
    --link-color: #3B82F6;
    --border-color: #E2E8F0;
    --navbar-height: 70px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--app-background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
}

main {
    flex: 1;
    padding: 2rem 0;
    margin-bottom: 102px; 
}

.main-color {
    background-color: var(--app-main-color);
}